<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Özgeçmiş</h2>
        <p>Eğitim ve deneyim bilgilerim hakkında daha fazla</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @await Component.InvokeAsync("_DefaultEducationComponent")
            </div>
            <div class="col-lg-6">
                @await Component.InvokeAsync("_DefaultExperienceComponent")
            </div>
        </div>
    </div>

</section>
