
@*
   default resume component
*@

<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Özgeçmiş</h2>
        <p>Eğitim bilgilerim hakkında daha fazla</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

         @await Component.InvokeAsync("_DefaultEducationComponent")

         @await Component.InvokeAsync("_DefaultExperienceComponent")

        </div>

    </div>

</section>